{
  "extends": ["eslint:recommended"],
  "plugins": ["compat"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "compat/compat": 2,
    "global-require": [0],
    "import/no-unresolved": [0],
    "no-unused-vars": [0],
    "quotes": [2, "single"]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  }
}
