a,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p,
section,
span,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

footer,
header,
section {
  display: block
}

body {
  line-height: 1
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

a:hover {
  color: #0056b3;
  text-decoration: underline
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/light.woff2) format('woff2'), url(fonts/light.woff) format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/regular.woff2) format('woff2'), url(fonts/regular.woff) format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('fonts/bold.woff2') format('woff2'),
       url('fonts/bold.woff') format('woff');
}

html body * {
  font-family: 'Open Sans', sans-serif
}

.App {
  text-align: center
}

.Header-header {
  padding: 0;
  color: #00dd3b;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

.Header-header picture {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2
}

.Header-header picture * {
  width: 100vw;
  height: 100vh;
  object-fit: cover
}

.Header-logos {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px
}

.Header-logo {
  height: 80px
}

.Header-overlay,
.Header-video {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%
}

.Header-logo+.Header-logo {
  margin-left: 40px
}

.Header-title {
  font-size: 100px;
  line-height: 1.16;
  font-weight: 700;
  color: #fff
}

.Header-video {
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover
}

.Header-overlay {
  z-index: 0
}

.Header-wrapper {
  position: relative;
  min-height: 100%;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.Body-body {
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #1a1d1b;
  color: #fff
}

.Body-container {
  max-width: 1260px;
  margin: 0 auto;
  position: relative;
  padding: 34px 0 80px;
  color: #fff
}

.Body-container p {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 300;
  max-width: 960px;
  margin: 18px auto
}

.Body-title {
  width: 100%;
  font-size: 68px;
  line-height: 1.12;
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px 0 46px;
  background: -webkit-linear-gradient(300deg, #9f0, #00dd3b);
  background: -o-linear-gradient(300deg, #9f0, #00dd3b);
  background: linear-gradient(150deg, #9f0, #00dd3b);
  -webkit-background-clip: text;
  color: transparent
}

.Body-title span {
  display: block
}

.Body-item {
  text-align: justify;
  min-width: 400px;
  max-width: 600px;
  padding: 40px;
  margin: 0 auto;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 1px
}

.Body-images {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center
}

.Body-title small {
  font-size: 34px;
  line-height: 1.4;
  font-weight: 300;
  margin: 58px 0 14px;
  color: #fff
}

.Footer-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 32px 32px;
  background: #1a1d1b;
  color: #fff
}

.Footer-footer a {
  color: inherit
}