.Header-header {
  padding: 0;
  color: #00dd3b;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Header-logos {
  display: flex;
  margin-bottom: 40px;
}

.Header-logo {
  height: 80px;
}

.Header-logo + .Header-logo {
  margin-left: 40px;
}

.Header-title {
  font: 100px/1.16 Lato, sans-serif;
  font-weight: 900;
  color: #fff;
}

.Header-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.Header-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.Header-wrapper {
  position: relative;
  min-height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-grow: 1;
}
